* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  background-color: black;
  padding: 20px;
}

.label {
  display: inline-block;
  color: white;
}

ul {
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-top: -1px;
}

li {
  display: inline-block;
  color: white;
  margin: -100px 5px;
}

.albumExample {
  text-align: center;
  padding: 50px;
}

.card {
  width: 25%;
  display: inline-block;
}

.image {
  width: 100%;
}

.row {
  display: inline-block;
}
.thumbnails {
  text-align: center;
  margin: 10px;
}

footer {
  background-color: lightgray;
  padding: 20px;
}

.bar-icon {
  color: white;
  display: none;
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }

  .bar-icon {
    display: block;
    float: right;
    position: relative;
    top: -70px;
  }

  li {
    display: block;
    margin: 0;
    text-align: center;
    color: white;
  }

  ul {
    text-decoration: none;
    width: 100%;
    float: none;
    margin: 0;
  }
}
