.logo {
  background-color: black;
  padding: 20px;
}

.label {
  display: inline-block;
  color: white;
}

ul {
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-top: -1px;
}

li {
  display: inline-block;
  color: white;
  margin: -100px 5px;
}

.albumExample {
  text-align: center;
  padding: 50px;
}

.card {
  width: 25%;
  display: inline-block;
}

.image {
  width: 100%;
}

.row {
  display: inline-block;
}
.thumbnails {
  text-align: center;
  margin: 10px;
}

footer {
  background-color: lightgray;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }
}
